@model person_money.Models.Report



<h3>Подтверждение удаления записи</h3>
<div>
    <h4>Отчеты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomesRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomesRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WastesRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WastesRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" /> 
            <a class="btn btn-dark" asp-action="Index">Назад к списку</a>
    </form>
</div>

