@model IEnumerable<person_money.Models.InCome>


<p>
    <a class="btn btn-success" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.IdInComeCatNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIn)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdInComeCatNavigation.Name)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> | |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
